@font-face {
    font-family: 'Comfortaalight';
    src: local('Comfortaa Light'), local('Comfortaa-Light'), url('comfortaalight.woff2') format('woff2'), url('comfortaalight.woff') format('woff'), url('comfortaalight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url('fonts/comfortaa.woff2') format('woff2'), url('fonts/comfortaa.woff') format('woff'), url('fonts/comfortaa.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaabold';
    src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url('comfortaabold.woff2') format('woff2'), url('comfortaabold.woff') format('woff'), url('comfortaabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



body {
	margin: 0;
	padding: 0;
	background-color: white;
	height: 1500px;
}
.header {
    width: 100%;
    height: 100px;
    background-color: white;
    display: table;
}

.logo {
    height: 100px;
    width: 100px;
    display: table-cell;
    padding-left: 30px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hamburger-menu {
    display: none;
}
/** Навигационное меню**/

.menu {
    margin-left: 150px;
    margin-top: -90px;
}
.menu a {
    text-decoration: none;
    font-family: 'Comfortaa';
    font-size: 16px;
}
.menu li {
    list-style: none;
    position: relative;
}
.menu__list{
    display: flex;
}
.menu__list>li {
    padding: 0px 30px 0px 0px;
}
.menu__list>li:hover .sub-menu__list {
    display: block;
}
.menu__link{
    color: #091a32;
}
.sub-menu__list{
    display: none;
    position: absolute;
    left: 0;
    top: 15px;
    padding: 25px 0px 0px 0px;
    z-index: 1;
}
.sub-menu__list>li {
    background-color: #fff;
}
.sub-menu__list a {
    color: #091a32;
    font-family: 'Comfortaa';
}
.sub-menu__list a:hover {
    border-bottom: 3px solid #091a32;
}
.sub-menu__link{
    color: #fff;
    display: inline-block;
    padding: 5px 5px;
}


/** Навигационное меню**/
.content {
    margin: 0px auto;
    max-width: 1000px;
}

.links {

}

.links li{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.links a {
    text-decoration: none;
    font-family: 'Comfortaa';
    font-size: 20px;
    color: black;
}

.about {
    height: 150px;
    background-image: url(fon2.jpg);
    background-position: 0 0;
    background-attachment: fixed;
    opacity: 0.6;
    padding: 0;
    margin: 0;
    z-index: 3;
}

.about h1 {
    font-family: 'Comfortaa';
    margin: 0px auto;
    color: black;
    font-size: 40px;
    text-align: center;
    width: 70%;
    padding-top: 50px; 
    opacity: 2;
}

.nothing {
    height: 50px;
    background-image: url(fon2.jpg);
    background-position: 0 0;
    background-attachment: fixed;
    opacity: 0.6;
    padding: 0;
    margin: 0;
}
h2 {
    font-family: 'Comfortaa';
    margin: 0px auto;
    color: black;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}
p {
    font-size: 18px;
}
.first {
    width: 50%;
    margin: 0px auto;
}

.risunki {
    display: table;
}

.risunok__img {
    height: 200px;
    width: 25%;
    display: table-cell;
}

.risunok__img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.risunok__img1 {
    height: 200px;
    width: 50%;
    display: table-cell;
}

.risunok__img1 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
    
    top: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #616161;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 80px 0px;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    z-index: 1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.menu__item:hover {
    background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    z-index: 2;
    position: fixed;
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0%;
    
}

.menu__item__link {
    margin-left: -35px;
}

.menu__item__link a {
    text-decoration: none;
    font-family: 'Comfortaa';
    color: black;
    
}

.menu__box li {
    list-style: none;
    padding-top: 15px;
}

h3 {
    margin: 0px auto;
    text-align: center;
    padding-top: 50px;
    width: 60%;
}

.author p {
    text-align: right;
    margin-right: 0;
} 

.title {
    padding-top: 100px;
    padding-bottom: 10px;
}

.sub__title h2 {
    font-size: 30px;
    padding-top: 60px;
}

.author {
    padding-top: 100px;
}

.cirkul ul{
    list-style: none;
    margin: 0px auto;
    text-align: center;
}

.stih {
    width: 30%;
    margin: 0px auto;
}

.stih p {
    text-align: left;
}

.cirkul img {
    width: auto;
}
.circ3 {
    width: 40%;
}

.circ3 img {
    width: 100%;
    object-fit: contain;
}
.circ5 {
    width: 50%;
}
.circ5 img {
    width: 100%;
    object-fit: contain;
}
.circ7-1 {
    width: 20%;
    height: 100px;
    float: left;
}

.circ7 img {
    width: 100%;
    padding-right: 10px;
    object-fit: cover;
}

.circ16 {
    width: 70%;
}
.circ16 img {
    width: 100%;
    object-fit: contain;
}
.circ25 {
    width: 30%;
}
.circ25 img {
    width: 100%;
    object-fit: contain;
}

table {
    width: 300px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
}
td, th {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
}
td {
    width: 70px;
    height: 30px;
}

.test-img {
    display: inline-block;
    width: 150px;
    height: 150px;
}
.test-img img {
    width: 100%;
    object-fit: contain;
}

.decor-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.decor-img img {
    display: inline-block;
    height: 300px;
    padding-top: 40px;

}



@media (max-width: 790px) {
    .menu {
        display: none;
    }
    .hamburger-menu {
        display: block;
        margin-left: 90%;
        margin-top: -80px;
    }
    .menu__box li {
        padding-top: 3px;
    }
    .menu__box {
        padding-top: 50px;
        overflow: scroll;
    }
    .menu__box li {
        font-size: 13px;
    }
    .menu__box a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .content {
        width: 350px;
    }
    .menu__box {
        width: 100%;
        overflow-y: scroll;
        padding: 0px;
    }
    .menu__box li {
        padding-top: 10px;
        padding-bottom: 10px; 
    }
    ul a {
        font-size: 17px;
    }
    .about h1 {
        font-size: 30px;
    }
    .links a {
        font-size: 15px;
    }
    .logo {
        padding: 0;
    }
    .stih {
        width: 80%;
    }
    .circ5 {
        width: 100%;
    }
    .circ16 {
        width: 100%;
    }
    .circ25 {
        width: 80%;
    }
    .spisok {
        width: 80%;
    }

}

@media (max-width: 350px) {
    .content {
        width: 310px;
    }
    .logo {
        padding: 0;
    }
}    

