@font-face {
    font-family: 'Comfortaalight';
    src: local('Comfortaa Light'), local('Comfortaa-Light'), url('comfortaalight.woff2') format('woff2'), url('comfortaalight.woff') format('woff'), url('comfortaalight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url('fonts/comfortaa.woff2') format('woff2'), url('fonts/comfortaa.woff') format('woff'), url('fonts/comfortaa.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaabold';
    src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url('comfortaabold.woff2') format('woff2'), url('comfortaabold.woff') format('woff'), url('comfortaabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



body {
	margin: 0;
	padding: 0;
	background-color: white;
	height: 1500px;
}

.conteiner {
	max-width: 1100px;
	margin: 0px auto;
}

.header {
	width: 100%;
	height: 100px;
	background-color: white;
	display: table;
}

.logo {
	height: 100px;
	width: 100px;
	display: table-cell;
	padding-left: 30px;
}

.logo img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.hamburger-menu {
	display: none;
}
/** Навигационное меню**/

.menu {
	margin-left: 150px;
	margin-top: -90px;
}
.menu a {
	text-decoration: none;
	font-family: 'Comfortaa';
	font-size: 16px;
}
.menu li {
	list-style: none;
	position: relative;
}
.menu__list{
	display: flex;
}
.menu__list>li {
	padding: 0px 30px 0px 0px;
}
.menu__list>li:hover .sub-menu__list {
	display: block;
}
.menu__link{
	color: #091a32;
}
.sub-menu__list{
	display: none;
	position: absolute;
	left: 0;
	top: 15px;
	padding: 25px 0px 0px 0px;
	z-index: 1;
}
.sub-menu__list>li {
	background-color: #fff;
}
.sub-menu__list a {
	color: #091a32;
	font-family: 'Comfortaa';
}
.sub-menu__list a:hover {
	border-bottom: 3px solid #091a32;
}
.sub-menu__link{
	color: #fff;
	display: inline-block;
	padding: 5px 5px;
}


/** Навигационное меню**/

.about {
	height: 300px;
	background-image: url(fon2.jpg);
	background-position: 0 0;
	background-attachment: fixed;
	opacity: 0.6;
	padding: 0;
	margin: 0;
	z-index: 3;
}

.about h1 {
	font-family: 'Comfortaa';
	margin: 0px auto;
	color: black;
	font-size: 40px;
	text-align: center;
	width: 70%;
	padding-top: 50px; 
	opacity: 2;
}

.content {
	margin: 0px auto;
	max-width: 1000px;
}

.bio {
	width: 100%;
	height: 450px;
	background-color: white; 
}



.image {
	height: 400px;
	width: 290px;
	margin-top: 40px;
	margin-left: 0px;
	padding: 0;
}

.image img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.text {
	margin-left: 350px;
	margin-top: -400px;
}

.text h2 {
	margin: 0px auto;
	text-align: center;
	position: relative;
	font-family: 'Comfortaa';
	font-size: 30px;
	left: -40px; 
}

.text p {
	position: relative;
	font-size: 16px;
	font-family: 'Comfortaa';
}

.nothing {
	height: 50px;
	background-image: url(fon2.jpg);
	background-position: 0 0;
	background-attachment: fixed;
	opacity: 0.6;
	padding: 0;
	margin: 0;
}

.blago {
	height: 500px;
	text-align: center;
}

.blago h2 {
	font-family: 'Comfortaa';
	font-size: 30px;
	margin-top: 50px;
	margin-left: auto;
}

.photo__frame {
	width: 700px;
	margin: 0px auto;  
	height: 400px;
}

.photo {
	height: 180px;
	width: 100px;
	background-color: white;
	display: table-cell;
}

.photo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 3px;
}

.block {
	display: table;
	padding: 10px;
	width: 680px;
	justify-content: space-around
}
.images {
	height: 400px; 
}
.galery {
	width: 1000px;
	background-color: black;
	margin: 100px auto;
	display: block;
}

.galery__photo {
	width: 25%;
	height: 150px;
	float: left;
	overflow: hidden;
}
.galery__photo img {
	object-fit: cover;
	max-width: 100%;
}
.footer {
	height: 500px;
}
/* скрываем чекбокс */
#menu__toggle {
	opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
	
  	top: 50px;
  	width: 26px;
  	height: 26px;
  	cursor: pointer;
  	z-index: 2;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  	display: block;
  	position: absolute;
  	width: 25px;
  	height: 2px;
  	background-color: #616161;
}
.menu__btn > span::before {
  	content: '';
  	top: -8px;
}
.menu__btn > span::after {
  	content: '';
  	top: 8px;
}
/* контейнер меню */
.menu__box {
  	display: block;
  	position: fixed;
  	visibility: hidden;
  	top: 0;
  	width: 50%;
  	height: 100%;
  	margin: 0;
  	padding: 0px 0px;
  	list-style: none;
  	text-align: center;
  	background-color: #ECEFF1;
  	z-index: 1;
  	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  	display: block;
  	padding: 12px 24px;
  	color: #333;
  	font-family: 'Roboto', sans-serif;
  	font-size: 20px;
  	font-weight: 600;
  	text-decoration: none;
}
.menu__item:hover {
  	background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  	transform: rotate(45deg);
  	z-index: 2;
  	position: fixed;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  	top: 0;
  	transform: rotate(0);
  	
}
#menu__toggle:checked ~ .menu__btn > span::after {
  	top: 0;
  	transform: rotate(90deg);
  	
}
#menu__toggle:checked ~ .menu__box {
  	visibility: visible;
  	right: 0%;
  	
}

.menu__item__link {
	margin-left: -35px;
}

.menu__item__link a {
	text-decoration: none;
	font-family: 'Comfortaa';
	color: black;
	
}

.menu__box li {
	list-style: none;
	padding-top: 15px;
}


@media (max-width: 1050px) {
	.content {
		max-width: 700px;
		margin: 0px auto;
	}
	.menu {
		margin-left: 100px;
		margin-top: -90px;
	}
	.menu a {
		font-size: 16px;
	}
	.logo {
		padding: 0;
	}
	.about {
		height: 200px;
	}
	.about h1 {
		padding-top: 40px;
		font-size: 30px;
	}
	.bio {
		height: 610px;
	}
	.image {
		height: 300px;
	}
	.image img {
		padding-top: 50px;
	}
	.text {
		margin-top: -300px;
		margin-left: 300px;
	}
	.bio h2 {
		font-size: 25px;
	}
	.blago h2 {
		font-size: 25px;
	}
	.images {
		height: 300px;
	}
	.galery {
		width: 700px;
	}
	.galery__photo {
		height: 100px;
	}
}
@media (max-width: 790px) {
	.menu {
		display: none;
	}
	.hamburger-menu {
        display: block;
        margin-left: 90%;
        margin-top: -80px;
    }
    .menu__box li {
       	padding-top: 3px;
    }
    .menu__box {
    	padding-top: 50px;
    	overflow: scroll;
    }
    .menu__box li {
    	font-size: 13px;
    }
    .menu__box a {
    	font-size: 16px;
    }
}

@media (max-width: 710px) {
	.images {
		height: 900px; 
	}
	.galery {
		width: 100%;
	}
	.bio {
		height: 720px;
	}
	.galery__photo {
		width: 50%;
		height: 200px;
	}
	.galery__photo img {
		object-fit: cover;
		width: 100%;
	}
	.content {
		width: 480px;
	}
	.photo__frame {
		width: 480px;
	}
	.block {
		width: 400px;
		margin: 0px auto;
	}
	.image {
		width: 200px;
		height: 200px;
		margin: 0;
		float: left;
		padding-bottom: 50px;
	}
	.text {
		padding-top: 30px;
		padding-left: 30px;
		padding-right: 10px;
		margin: 0;
	}
}
@media (max-width: 630px) {
	.images {
		height: 700px;
	}
	.galery__photo {
		height: 150px;
	}
}

@media (max-width: 480px) {
	body {
		height: 3200px;
	}
	.content {
		width: 350px;
	}
	.about h1 {
		padding-top: 20px;
		font-size: 26px;
	}
	.bio {
		height: 780px;
	}
	.image {
		width: 150px;
		height: 200px;
		padding-right: 10px;
		padding-top: 30px;
		padding-bottom: 0px;
	}
	.image img {
		padding-top: 0px;
	}
	.text {
		padding-top: 30px;
		padding-right: 0px;
		padding-left: 0px;
	}
	.photo__frame {
		width: 350px;
	}
	.block {
		width: 330px;
	}
	.photo {
		height: 150px;
		width: 100px;
	}
	.images {
		height: 1700px;
	}
	.galery__photo {
		width: 100%;
		height: 200px;
	}
	.menu__box {
		width: 100%;
		overflow-y: scroll;
		padding: 0px;
	}
	.menu__box li {
		padding-top: 10px;
		padding-bottom: 10px; 
	}
}	
@media (max-width: 350px) {
	.content {
		width: 310px;
	}
	.bio {
		height:800px;
	}
	.image {
		height: 150px;
		width: 100px;
	}
	.photo__frame {
		width: 310px;
	}
	.block {
		width: 290px;
	}
	.photo {
		height: 100px;
	}
}
